/* Transfer all of this to the main style sheet, then delete this file and the link to it in Movie.aspx */
.content-container
{
    background-color:#046C8A;
}

.flex-container
{
    
    display: flex;
    margin-left:15px;
    margin-right: 15px;
}
.flex-fixed60p
{
    width: 80%;
}
.flex-fixed30p
{
    width: 30%;
}
.flex-fixed20p
{
    width: 20%;
}
.flex-fixed40p
{
    width: 40%;
}
.flex-item
{
    flex-grow: 1;
}
 div.MovieTitle{
     background-color:#222E50;
}
.MovieTitle{
    background-color:#222E50;
}
.DetailsViewField {
    text-align: left;
}
.GroupingDiv{
    background-color:#222E50;
    padding: 15px;
}