/* CSS FOR MASTERPAGE Start*/
.BackGround
{
    margin-left: auto;
    margin-right: auto;
    background: #E0EAFC; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#CFDEF3,#E0EAFC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CFDEF3,#E0EAFC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CFDEF3,#E0EAFC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CFDEF3,#E0EAFC); /* Standard syntax */
}

.BannerBoarder
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    background-color: #046c8a;
}

.BannerImage
{
    width: 800px;
    height: 120px;
}


/* MENU ON MASTERPAGE CSS START */
.Header
{
    height: auto;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.NavMenu
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 200px;
}

.RegisterBtn
{
    float: left;
    margin-left: 110px;
    background: #FFBF00;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
}


.RegisterStyle
{
    margin-left: 200px;
    width:440px;
}

.RegisterStyle input[type="submit"]:hover
{
    box-shadow: 0 0 10px #000;
}

.ContactUsContainer
{
    border: thin solid #000000;
    box-shadow: 0 0 20px #000;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    padding-top: 5px;
    background: #E2E2E2;
}

.ContactUsContainer textarea
{
    font-family: 'Bell MT';
    font-size: medium;
    font-variant: small-caps;
    color: #000000;
    letter-spacing: .2em;
}



.HomePageImages input
{
    border: thin solid #000000;
    border: thin solid #000000;
    box-shadow: 0 0 20px #000;
    margin-top: 10px;
}

.HomePageImages span
{
    letter-spacing: .2em;
    font-family: Rockwell;
    text-transform: capitalize;
    font-variant: small-caps;
    color: #BCAB79;
    text-align: center;
    font-size: large;
}

.HomePageImages input:hover
{
    opacity: 0.6;
}


.ImageBoarderStyles input
{
    border: thin solid #000000;
    border: thin solid #000000;
    box-shadow: 0 0 20px #000;
}

.ImageBoarderStyles td
{
    letter-spacing: .2em;
    font-family: Rockwell;
    text-transform: capitalize;
    font-variant: small-caps;
    color: #BCAB79;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 50px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: large;
}

.ImageBoarderStyles input:hover
{
    opacity: 0.6;
}



.calendarWrapper
{
    display: inline-block;
}

#LoginStatus
{
    color: #FFFFFF;
    font-variant: small-caps;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: large;
}

.AdminListView{
    border:none;
}

.SiteMap
{
    margin-left: 40px;
}

.MenuBoxDesign
{
    padding: 5px;
    border: thin solid #000000;
    border-radius: 2px;
    background-color: #BDC0CC;
    text-align: center;
    font-family: Cambria;
    font-weight: bold;
    font-variant: small-caps;
    color: #FFFFFF;
    font-size: large;
    width: auto;
}

.MenuBoxHover
{
    background-color: #FFFFFF;
    color: #046C8A;
}

/* MENU ON MASTERPAGE CSS END */


/* CONTACT US TEXTBOX CSS*/
.TextBox
{
    text-align: center;
    vertical-align: middle;
}


.HomePageMovies
{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}



.BookMovieNavBar
{
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #BDC0CC;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Copperplate Gothic Bold';
    font-weight: bolder;
    color: #FFFFFF;
    font-size: large;
}

.BookMovieContent
{
    margin-right: auto;
    margin-left: auto;
    padding-left: 210px;
}




.ContentBackGround
{
    width: 1120px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px #000;
    padding-top: 5px;
}

/*Centers all the content and Sets the width of the Content*/
.ContentPlaceHolder
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
/*Tag is on the tables td in masterpage for content*/
.AlignTop
{
    vertical-align: top;
}



.Footer
{
    background-color: #E2E2E2;
    height: 75px;
}

.NavBarLeft
{
    width: 250px;
    height: 800px;
    border-collapse: collapse;
    border-right: thin solid #000000;
    vertical-align: top;
    text-align: center;
}
/* CSS FOR MASTERPAGE END*/





/* LOG IN Page CSS Start */
.box
{
    text-align: center;
    width: 280px;
    height: auto;
    margin: 0 auto;
    background: #E2E2E2;
    border-radius: 7px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9);
    padding: 20px 0px;
}

.content h1
{
    font-size: 28px;
    font-weight: 400;
    color: #046c8a;
    letter-spacing: 0.125em;
    float: left;
}


.TxtBoxInput
{
    margin: 10px auto;
    padding: 10px;
    background: #DDDDDD;
    border-radius: 5px;
    outline: none;
    color: #046c8a;
    font-weight: bolder;
    letter-spacing: 0.125em;
    text-align: center;
    margin-left: 15px;
    font-size: medium;
}

.btn
{
    margin: 10px;
    padding: 10px;
    background: #046c8a;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover
{
    background: #339933;
    color: #333;
}

/* LOG IN Page CSS End */

/* Transfer all of this to the main style sheet, then delete this file and the link to it in Movie.aspx */


.flex-container
{
    
    display: flex;
    margin-left:15px;
    margin-right: 15px;
}
.flex-fixed60p
{
    width: 80%;
}
.flex-item
{
    flex-grow: 1;
}
 div.MovieTitle{

}
.MovieTitle{
    letter-spacing: .2em;
    font-family: Rockwell;
    text-transform: capitalize;
    font-variant: small-caps;
    color: #BCAB79;
    text-align: center;
    font-size: xx-large;
}
.DetailsViewField {
    text-align: left;
}
.GroupingDiv{

    padding: 15px;
    border: thin solid #000000;
    border: thin solid #000000;
    box-shadow: 0 0 20px #000;

}





