<?xml version="1.0"?>
<configuration>
    <system.web>

      <!--Hides all Webpages from Annonomous Users(Not logged in)--><!--
      <authorization>
        <deny users="?"/>
      </authorization>-->
      
      
        <authorization>
            <allow users="TVI_Admin" />
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>
